{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{office}}{% endblock title %}

{% block content %}

<!--Main Content Area Starts-->

		<section id="app-section">
			<div class="bg-white padding margin-top-lg">
				<div class="row">
					<div class="col-md-4 col-lg-3">
						<!--Office Image-->
						<div class="thumbnail" style="width: 200px;height: 250px">
                            <!-- {% if office.image %}
                                <img src="{{ office.image.url }}" alt="...">
                            {% else %} -->
                            <img src="{% static 'images.jpeg' %}" alt="...">
                            <!-- {% endif %} -->
							<div class="caption">
								<center><h5>{{ office }}</h5></center>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-lg-9">
						<!--Office Map-->
						<div id="map" style="width:100%;height:279px"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<a href="{% url 'office:office-detail' office.id %}" title="" class="btn btn-sm btn-primary btn-block margin-top-lg">विवरण हेर्नुहोस्</a>
				</div>
				<div class="col-md-3">
					<a href="{% url 'office:office-users' office.id %}" title="" class="btn btn-sm btn-primary btn-block margin-top-lg">प्रयोगकर्ता</a>
				</div>
				<div class="col-md-3">
					<a href="{% url 'reports:files-submited' office.id %}" title="" class="btn btn-sm btn-primary btn-block margin-top-lg">संलग्न फाइलहरु</a>
				</div>
				
				{% if request.office %}{% else %}
				<div class="col-md-3">
					<a href="{% url 'reports:karyakram-control-list' office.id %}" title="" class="btn btn-sm btn-primary btn-block margin-top-lg">कार्यक्रम</a>
				</div>
				{% endif %}

			</div>
			<ul class="different-list margin-top-lg">
				<li>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th rowspan="2">वार्षिक/चौमासिक लक्ष्य र प्रगति</th>
									<th>लक्ष्य</th>
									<th><a href="{% url 'reports:first-control-list' office.id 0 %}" title="" class="btn btn-xs btn-primary">प्रथम</a></th>
									<th><a href="{% url 'reports:second-control-list' office.id 0 %}" title="" class="btn btn-xs btn-primary">दोस्रो</a></th>
									<th><a href="{% url 'reports:second-control-list' office.id 0 %}" title="" class="btn btn-xs btn-primary">तेस्रो</a></th>
									<th><a href="{% url 'reports:yearly-control-list' office.id 0 %}" title="" class="btn btn-xs btn-primary">वार्षिक</a></th>
								</tr>
								<tr>
									<th>प्रगति</th>
									<th><a href="{% url 'reports:first-control-list' office.id 1 %}" title="" class="btn btn-xs btn-primary">प्रथम</a></th>
									<th><a href="{% url 'reports:second-control-list' office.id 1 %}" title="" class="btn btn-xs btn-primary">दोस्रो</a></th>
									<th><a href="{% url 'reports:third-control-list' office.id 1 %}" title="" class="btn btn-xs btn-primary">तेस्रो</a></th>
									<th><a href="{% url 'reports:yearly-control-list' office.id 1 %}" title="" class="btn btn-xs btn-primary">वार्षिक</a></th>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>मासिक लक्ष्य र प्रगति</th>
									<th><a href="{% url 'reports:monthly-control-list' office.id %}" title="" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> हेर्नुहोस्</a></th>
									
								</tr>
								<tr>
									<th>कार्य सम्पादन सूचक </th>
									<th><a href="{% url 'karyasampadan:monthly-control-list' office.id%}" title="" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> हेर्नुहोस्</a></th>
									
								</tr>
								<tr>
									<th>बजेट बक्तब्य </th>
									<th><a href="{% url 'sachibBaithak:budgetbaktabya-list' office.id  %}" title="" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> हेर्नुहोस्</a></th>
									</tr>
								<tr>
									<th>सचिब बैठक प्रगति </th>
									<th><a href="{% url 'sachibBaithak:sachibbaithak-main-list' office.id  %}" %}" title="" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> हेर्नुहोस्</a></th>
									</tr>
								<!-- <tr>
									<th>बार्षिक चौमासिक प्रगति  </th>
									<th><a href="#" title="" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> हेर्नुहोस्</a></th>
									</tr> -->
							</tbody>
						</table>
					</div>
				</li>
			</ul>
		</section>
		<div class="clearfix"></div>
		<!--Main Content Area Ends-->

{% endblock content %}


		{% block extra_scripts %}
       		 <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery.min.js' %}"><\/script>')</script>

            <script>
                function myMap() {
                    var myCenter = new google.maps.LatLng({{ office.lat }},{{ office.lon }});
                    var mapCanvas = document.getElementById("map");
                    var mapOptions = {center: myCenter, zoom: 15};
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    var marker = new google.maps.Marker({position:myCenter});
                    marker.setMap(map);
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmkU1cjj2GkxzKoYWZV987q0sIGCL3Ps&callback=myMap"></script>

        {% endblock extra_scripts %}




