{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{object}}{% endblock title %}

{% block content %}
<!--Main Content Area Starts-->
		<section id="app-section">
      <ol class="breadcrumb no-margin margin-top-lg">
        <li><a href="{% url 'dashboard' %}">गृह पृष्ठ</a></li>
        <li><a href="{% url 'office:office-dashboard' office.id %}">{{ office.name }}</a></li>
        <li class="active">विवरण हेर्नुहोस</li>
      </ol><br>

            <div class="row">
                <div class="col-md-4">

          <!-- Profile Image -->
              
                <div class="box-body box-profile">
                    {% if office.image %}
                    <img class="profile-user-img img-responsive img-circle" src="{{ office.image.url }}" alt="User profile picture">
                    {% else %}
                    <img class="profile-user-img img-responsive img-circle" src="{% static 'images.jpeg' %}" alt="User profile picture">
                    {% endif %}

                  <h5 class="profile-username text-center">{{office.name}}</h5>
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>इ-मेल:</b><a class="pull-right">{{office.email}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>फोन:</b> <a class="pull-right">{{office.phone}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>फ्याक्स:</b> <a class="pull-right">{{office.fax}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>कार्यालय समय:</b> <a class="pull-right">{{office.office_time}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>सेटिङ परिवर्तन:</b> <a href="{% url 'reports:office-settings' office.id office.settings.id %}" %} class="pull-right">परिवर्तन गर्नुहोस्</a>
                    </li>
                    <li class="list-group-item">
                      <b>विवरण परिवर्तन:</b> <a href="{% url 'office:office-update' office.id %}" %} class="pull-right">परिवर्तन गर्नुहोस्</a>

                    </li>
                  </ul>


                <!-- /.box-body -->
                 </div>
               

              </div>

                <div class="col-md-8">
                    <div class="map-office">
                        <div id="map" style="width:100%;height:510px"></div>
                    </div>
                </div>

        <!-- /.col -->
      </div>
      </div>
			<div class="bg-white padding margin-top-lg">
				<p>
					<b>कार्यालय :</b> {{office.name}}
				</p>
				<p>
				{{ office.description }}
				</p>



        <h3 class="box-title" style="text-align: center">बजेटको विवरण </h3>
                <!-- /.box-header -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>आर्थिक वर्ष</th>
                <th>बजेट</th>   
                <th>युनिट</th>
                <th>नेपाल सरकार</th>
                <th>संस्था</th> 
                <th>जनसंग्लनता</th> 
                <th>ऋण</th> 
                <th>उपदान</th>
                <th>दातृसंस्था</th> 
                <th>अन्तरिक</th> 
                <th>वैदेशिक</th>
                <th>सम्पादन गर्नुहोस</th> 
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>{{ budget.first.budget_year }}</td>
                <td>{{ budget.first.budget_rs }}</td>
                <td>{{ budget.first.unit}}</td>
                <td>{{ budget.first.nepalsarkar }}</td>
                <td>{{ budget.first.sastha }}</td>
                <td>{{budget.first.janasamglanta }}</td>
                <td>{{ budget.first.loan }}</td>
                <td>{{ budget.first.upadan }}</td>
                <td>{{ budget.first.dritasastha }}</td>
                <td>{{ budget.first.antarik }}</td>
                <td>{{ budget.first.baidesikh }}</td>
                <td><a href="{% url 'office:office-budget-update' office.id %}" title="" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a></td>

              </tr>

            </tbody>
          </table>
        </div>
			</div>

		</section>
		<div class="clearfix"></div>

{% endblock content %}


        {% block extra_scripts %}

        <script src="{% static 'js/leaflet.js' %}"></script>
        <script src="{% static 'js/map.js' %}"></script>


        <!-- <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
 -->

    <!-- <script>


    var locations = [
      ['', 27.696446, 85.3221903, 4],
      ['', 27.6692636, 85.3326804, 5],
      ['', 27.6931977, 85.3242567, 3],
      ['', 27.6482818, 85.3050494, 2],
      ['', 27.6867262, 85.3365863, 1]
    ];


      function myMap() {
        var myCenter = new google.maps.LatLng(27.6966239,85.3239172);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 12};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position:myCenter});
        marker.setMap(map);
        google.maps.event.addListener(marker,'click',function() {
          take_action();



        });

        var marker, i;

          for (i = 0; i < locations.length; i++) {  
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i][1], locations[i][2]),
              map: map
            });
      }}
      function take_action(){
        alert("Take Action");
      }
    </script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmkU1cjj2GkxzKoYWZV987q0sIGCL3Ps&callback=myMap"></script>


        {% endblock extra_scripts %}


