{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}प्रयोगकर्ता{% endblock title %}

{% block content %}

<!--Main Content Area Starts-->
		<section id="app-section">
			<ol class="breadcrumb no-margin margin-top-lg">
			  <li><a href="">गृह पृष्ठ</a></li>
			  <li><a href="{% url 'office:office-dashboard' pk %}">वैदेशिक रोजगार विभाग</a></li>
			  <li class="active">प्रयोगकर्ता</li>
			</ol>
			<div class="bg-white padding margin-top-lg">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>फोटो</th>
								<th>पुरा नाम</th>
								<th>पद</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{% if head.user.id %}
						            <a href="{% url 'office:profile-detail' head.user.id %}">
						            {% endif %}
						            <img class="profile-user-img img-responsive img-circle" src="{% if head.user.profile.photo %}{{ head.user.profile.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}" alt="User profile picture">
								</td>
								<td>
									<h4>{% if head %}{{head.user.profile.name}}
									{% else %} 
										<a href="{% url 'office:office-add-office-head' office %}">कार्याल प्रमुख थप्नुहोस्</a>
									{% endif %}</h4>
								<td>
									<p>कार्याल प्रमुख</p>
								</td>
					               {% if head.user.id %}
					              </a>
					              {% endif %}
					            <td>
					            	{% if head.user.id %}
									<a id="rmheadlink" href="{% url 'office:profile-update' head.user.id %}" class="btn btn-primary btn-block"><b>परिवर्तन गर्नुहोस्</b></a>
									{% else %}
									{% endif %}
					            </td>
							</tr>
							<tr>
								<td>
									{% if assistant.user.id %}
						            <a href="{% url 'office:profile-detail' assistant.user.id %}">
						            {% endif %}
						            <img class="profile-user-img img-responsive img-circle" src="{% if assistant.user.profile.photo %}{{ assistant.user.profile.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}" alt="User profile picture">
								</td>
								<td>
									<h4>{% if assistant %}{{assistant.user.profile.name}}
									{% else %} 
										<a href="{% url 'office:office-add-info-officer' office %}">कार्याल सूचना अधिकारी थप्नुहोस्</a>
									{% endif %}</h4>
								<td>
									<p>कार्यालय सूचना अधिकारी</p>
								</td>
					               {% if assistant.user.id %}
					              </a>
					              {% endif %}
					            <td>
					            	{% if assistant.user.id %}
									<a id="rmheadlink" href="{% url 'office:profile-update' assistant.user.id %}" class="btn btn-primary btn-block"><b>परिवर्तन गर्नुहोस्</b></a>
									{% else %}
									{% endif %}
					            </td>
							</tr>
						</tbody>
					</table>
        </section>

    <!-- Main content -->

				</div>

			</div>
		</section>
		<div class="clearfix"></div>
		<!--Main Content Area Ends-->

{% endblock content %}
