{% extends "base_layout.html" %}

{% load staticfiles %}
{% load filters %}

{% block title %}कार्यक्रमहरु{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}
    
{% block content %}
<section id="app-section">
  

 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">गृह पृष्ठ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <form id="form" action="" method="post" class="form form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {% include 'reports/form_template.html' %} -->

        <legend>प्रोफाइल सुधार गर्नुहोस्</legend>
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="col-md-3 control-label">{{ field.label_tag }}</label>
                <div class="col-md-5">{{ field }}</div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
            </div>
        </div>
        

        </form>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
  </section>

 
{% endblock content %}


{% block extra_script %}
<script>

 $(document).ready(function(){
       $('[form="form"]').addClass('form-control input-md');    

});

  
</script>
{% endblock extra_script %}

