{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{object}}{% endblock title %}

{% block content %}

<section id="app-section">
      <ol class="breadcrumb no-margin margin-top-lg">
        <li><a href="{% url 'dashboard' %}">गृह पृष्ठ</a></li>
        <li><a href="">वैदेशिक रोजगार विभाग</a></li>
        <li class="active">विवरण हेर्नुहोस्</li>
      </ol><br>

    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
             <img class="profile-user-img img-responsive img-circle" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}" alt="User profile picture">
              <h3 class="profile-username text-center">{{ object.name }}</h3>

              <p class="text-muted text-center">{{ office }}</p>

<!--Main Content Area Starts-->

    <section id="app-section">
      <div class="bg-white padding margin-top-lg">
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <!--Office Image-->
            <div class="thumbnail">
              <img class="profile-user-img img-responsive" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}">
              
              <div class="caption">
                <center><h5>{{ object.name }}</h5></center>
              </div>
            </div>
            <p class="text-muted text-center"></p>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>पोस्ट: </b> <a class="pull-right">{{ role.first.group }}</a>
                </li>
                <li class="list-group-item">
                  <b>परिवर्तन: </b><a class="pull-right" href="{% url 'office:profile-update' request.user.id %}">परिवर्तन गर्नुहोस्</a>
                </li>
              </ul>
          </div>
           <div class="col-md-8 col-lg-9">
                    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">मेरो बारे</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> फोन नम्बर</strong>

              <p class="text-muted">
               {{ object.phoneno }}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> जन्म मिति</strong>

              <p class="text-muted">{{ object.birth_date }}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> तिथि मानाङ्कन</strong>

              <p class="text-muted">{{ object.assign_date }}</p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> बायो</strong>

              <p>{{ object.bio }}</p>
            </div>
          
        </div>
      </div>
      
    </section>
    <div class="clearfix"></div>
    <!--Main Content Area Ends-->

{% endblock content %}


{% block extra_scripts %}
{% endblock extra_scripts %}




