{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}मासिक कार्यक्रम{% endblock title %}
{% block content %}

<!--Main Content Area Starts-->
		<section id="app-section">
			<ol class="breadcrumb no-margin margin-top-lg">
			    <li><a href="{% url 'dashboard' %}">गृह पृष्ठ</a></li>
                <li><a href="{% url 'office:office-dashboard' office.id %}">{{ office.name }}</a></li>
                <li class="active">कार्यक्रम</li>
			</ol>
			<div class="bg-white padding margin-top-lg">


				<div class="table-responsive">
					<table id="datatable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>सि. न.</th>
								<th>वार्षिक चौमासिक प्रगति</th>
								<th>मासिक प्रगति</th>
								<th>सचिव वैठक प्रगति</th>
								<th>कार्य सम्पादन सूचक</th>

								<th>वजेट वक्तव्य</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								{% for pragati in pragati %}
								<td>{{ forloop.counter }}</td>
								<td>{{ pragati.datesubmited }}</td>
								{% endfor%}
								{% for monthlyprogress in monthlyprogress%}
								<td>{{ monthlyprogress.datesubmited }}</td>
								{% endfor %}
								</td>
								<td></td>

</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</section>
		<div class="clearfix"></div>
		<!--Main Content Area Ends-->

{% endblock content %}
