{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}Monthly कार्यक्रम{% endblock title %}

{% block content %}

<!--Main Content Area Starts-->
		<section id="app-section">
			<ol class="breadcrumb no-margin margin-top-lg">
			    <li><a href="{% url 'dashboard' %}">गृह पृष्ठ</a></li>
                <li><a href="{% url 'office:office-dashboard' office %}">{{office_obj.name}}</a></li>
                <li class="active">कार्यक्रम</li>
			</ol>
			<div class="bg-white padding margin-top-lg">
				<div class="app-page-header">
					<div class="row">
						<div class="col-md-2">
							<select class="form-control input-sm">
							  <option>10</option>
							  <option>20</option>
							  <option>30</option>
							  <option>40</option>
							  <option>50</option>
							</select>
						</div>
						<div class="col-md-5 col-md-offset-5">
							<div class="action-holder">
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-file-code-o"></i> CSV</a>
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-file-excel-o"></i> Excel</a>
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-file-pdf-o"></i> PDF</a>
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-print"></i> Print</a>
								<a href="{% url 'office:office-budget-update' office %}" title="" class="btn btn-xs btn-success"><i class="fa fa-money"></i> बजेट थप्नुहोस </a>
							</div>
						</div>
					</div>
				</div>
                 <h2>हाल सम्मको प्रगती</h2>

                



				        {% for month in history %}

							<ul>
								<li>
								<span class="glyphicon glyphicon-arrow-right"></span> {{ month.pragati }}
								</li>
								
							</ul>
                             
                        {% endfor %}


				
		</section>
		<div class="clearfix"></div>
		<!--Main Content Area Ends-->

{% endblock content %}