<!doctype html>

    <head>
		{% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">

        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<script src="{% static 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">

		{% endblock %}

{% load notifications_tags %}
{% notifications_unread as unread_count %}
{% notifications_all_unread as notif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>

    var socket = new WebSocket('ws://' + window.location.host + '/');
    var noti = parseInt({{ unread_count }})
    socket.onopen = function open() {
    console.log('WebSockets connection created.');
    };
      
    // ------------for desktop notification------------//
    
    document.addEventListener('DOMContentLoaded', function () {
	  if (Notification.permission !== "granted")
	    Notification.requestPermission();
	});

    // ------------end for desktop notification------------//

      socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      noti = noti + 1;
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['instance']);
      
		document.getElementById("notifcount").innerHTML=noti;
		
		$("#drop-content").prepend("<li class='unread'>"+
                    "<a href=data[`detail_url`]>"+
                      "<div class='col-md-3 col-sm-3 col-xs-3'><div class='notify-img'>"+
                      "<img src='http://placehold.it/45x45' alt=''></div></div><div class='col-md-9 col-sm-9"+
                      " col-xs-9 pd-l0'>"+ (data['by']) +" "+ (data['verb']) +" "+ data['action_object'] + 
                      "</a><br><span class='time'><i class='fa fa-clock-o' aria-hidden='true'></i>" + "Just now."+
                    "</span>"+
                    "</div>"+
                    "</a>"+
                  "</li>");


				            		
				            		

		//-------------for desktop notification--------------------

		     if (Notification.permission !== "granted")
			    Notification.requestPermission();
			  else {
			    var notification = new Notification('Notification', {
			      icon: '{% static "assets/images/logo.png" %}',
			      body: (data['by'])+" "+(data['verb'])+" "+ data['action_object'] + " " + "Just now.",
			    });

			    notification.onclick = function () {
			      window.open("http://stackoverflow.com/a/13328397/1269037");      
			    };
			    
			  }
		//-------------end for desktop notification--------------------
    };




    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
      console.log('ready');
    }
</script>



{% block extra_css %}
{% endblock extra_css %}
{% load dashboard_tags %}

</head>
    <body>
         	<!--Header Starts-->
		<header id="app-header" style="z-index: 9;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="logo">
							<a href="{% url 'dashboard' %}" title="Nepal Government">
								<img src="{% static 'assets/images/logo.png' %}" alt="Logo" height="80">
							</a>
							<h4>Digital Progress Monitoring System</h4>
							<h5>Ministry of Labour & Employment</h5>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group form-inline down-mid2">
						  <label for="sel1">आर्थिक वर्ष</label>
						  <!-- <div id="fiscalyear" >{{ request.fiscal_year }}</div> -->
						  <div id="fiscal-year-select" ><select id="fiscalyear" class="form-control">
						  {% fiscalyearlist as yearlist %}
						  {% for year in yearlist %}

						    <option value="{{ year.id }}"{% if year.id == request.fiscal_year.id %}selected{% endif %} >{{ year }}</option>
						  {% endfor %}
						  </select></div>
					</div>
					</div>

					<div class="col-md-2">
						<ul class="nav navbar-nav navbar-right">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o not-yellow" aria-hidden="true"></i> (<b><span id="notifcount">{% if unread_count %}
			    		{{ unread_count }}
							{% endif %}</span></b>)</a>
				          <ul class="dropdown-menu notify-drop">
              </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul id="notifmenu">
                 
           
				            <!-- end notify title -->
				            <!-- notify content -->
				            <div class="drop-content" id="drop-content" style="width:400px;">
				             {% for not in notif|slice:":10" %}

				            	<li class="unread">
				            		<div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
				            		<div class="col-md-9 col-sm-9 col-xs-9 pd-l0">{{ not.actor }} {{ not.verb }} {{ not.action_object }}</a>
				            		<br>
				            		<span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ not.timesince }} ago.</span>
				            		</div>

				            	</li>
				             {% endfor %}	
				            	
				            </div>
				            <div class="notify-drop-footer text-center">
				            	<a href=""><i class="fa fa-eye"></i> View All</a>
				            </div>
				          </ul>
				        </li>
				      </ul>
				      </div>
				<p>
			   	<small>Welcome</small>
                  {{request.user.profile.name }} - {{request.group}}
                  
                 
                </p>
					<span class="pull-right" style="position:relative; margin-top: 0px;"><a href="{% url 'users:logout' %}">Logout</a></span>
				</div>
			</div>
		</header>
		<!--Header Ends-->

		<!--Sidebar Starts-->
		<aside id="app-sidebar">
			<ul class="sidebar-navigation">
				<li class="active">
					<a href="{% url 'dashboard' %}" title=""><i class="fa fa-home"></i>गृह पृष्ठ</a>
				</li>
				{% if request.office %}
				{% else %}
				
				{% office_list as offices %}
				<li class="has-child">
					<a href="#" title=""><i class="fa fa-building-o"></i>सम्बन्धित निकाय</a>
					<ul>
						{% for office in offices %}
						<li><a href="{% url 'office:office-dashboard' office.id %}" title=""><i class="fa fa-long-arrow-right"></i>{{office}}</a></li>
						{% endfor %}

					</ul>
				</li>
				{% endif %}
				
				<li>
					<a href="#" title=""><i class="fa fa-info"></i>हाम्रो बारेमा</a>
				</li>
				<li>
					<a href="#" title=""><i class="fa fa-comments"></i>सुझाव</a>
				</li>
				<li>
					<a href="#" title=""><i class="fa fa-bar-chart"></i>Statistics</a>
				</li>
				<li>
					<a href="#" title=""><i class="fa fa-bar-chart"></i>Office Setting</a>
				</li>
			</ul>
		</aside>
		<!--Sidebar Ends-->
{% if messages %}
<div id="flash-msg" class="col-md-4" style="display:none; position: fixed; right: 0%; ">
<ul class="messages">
    {% for message in messages %}<br>
    <div {% if message.tags %} style="box-shadow: 2px 0px 13px 3px rgba(194,192,194,1);" class="alert alert-{{ message.tags }} alert-dismissable">{% endif %}
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ message }}
</div>
    {% endfor %}
</ul>
</div>
{% endif %}
		<!--Main Content Area Starts-->
			{% block content %}

    		{% endblock content %}
		<!--Main Content Area Ends-->

		<footer id="app-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-3">
						<p>
						&copy; Copyright <a href="#" title="" target="_blank">Naxa Pvt. Ltd</a>
						</p>
					</div>
				</div>
			</div>
		</footer>

		
		 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
			<script src="{% static 'assets/js/plugins.js' %}"></script>
			<script type="text/javascript">
			$(document).ready (function(){
   				
   				$("#flash-msg").fadeIn(1200)
                $("#flash-msg").fadeTo(6000, 500).fadeOut(500, function(){
               
                });   
            });

			 // $("#fiscalyear").mouseenter(function(){
		  //       $("#fiscalyear").fadeOut(100);
		  //       $("#fiscal-year-select").fadeIn(100);
		  //       }
		  //    );

		  //    $("#fiscal-year-select").mouseout(function(){
		  //       $("#fiscal-year-select").fadeOut(100);
		  //       $("#fiscalyear").fadeIn(100);
		  //       }
		  //    );


			$("#fiscalyear").change(function () {
      
		      var id = $(this).val();
		      console.log(id);
		      $.ajax({
		        url: "{% url 'users:changefiscalyear' %}",
		        data: {'fiscal_year_id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
		        type: 'POST',
		        success: function (html) {
		        	if(html == "success"){
		        		location.reload();
		        	}
		        }
		      });
		    });
			</script>
	

		 {% block extra_scripts %}{% endblock extra_scripts %}

    </body>
</html>
