{% extends "base_layout.html" %}
{% load filters %}
{% load static %}
{% load dashboard_tags %}
{% block title %}REPORT{% endblock title %}

{% block extra_styles %}{% endblock extra_styles %}


{% block content %}


    <!--Main Content Area Starts-->
    <section id="app-section">
        <!--Statistics-->
        <div class="bg-white padding margin-top-lg">
            
            <h5>फारम बुझाएको विवरणहरु </h5>
            <div class="row">
                <div class="col-md-12">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save"/>
                </form>
                </div>
            </div>
        </div>

{% endblock content %}


{% block extra_scripts %}
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmkU1cjj2GkxzKoYWZV987q0sIGCL3Ps&callback=myMap"></script>

{% endblock extra_scripts %}
