{% extends "base_layout.html" %}
{% load filters %}
{% load static %}
{% load dashboard_tags %}
{% block title %}REPORT{% endblock title %}

{% block extra_styles %}{% endblock extra_styles %}


{% block content %}


    <!--Main Content Area Starts-->
    <section id="app-section">
        <!--Statistics-->
        <div class="bg-white padding margin-top-lg">
            <h5>फारम बुझाएको विवरणहरु </h5>
            <div class="row">
                <table class="table table-bordered">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">कार्यक्रम </th>
                    <th scope="col">इकाइ</th>
                    <th scope="col">लक्छ्य</th>
                    <th scope="col">बजेत अनुमान</th>
                    <th scope="col">कैफियत</th>
                  </tr>
                    {% for obj in object_list %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                          <td><a href="{% url 'forms:prastawit_karyakram_update' obj.pk %}">{{ obj.karyakram }}</a></td>
                        <td>{{ obj.yikai }}</td>
                        <td>{{ obj.lachhya }}</td>
                        <td>{{ obj.bajet_anuman }}</td>
                        <td>{{ obj.kaifiyet }}</td>
                      </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--Map-->
                <div class="bg-white padding margin-top-lg">
                    <div id="map" style="width:100%;height:500px"></div>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!--Main Content Area Ends-->

{% endblock content %}


{% block extra_scripts %}
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmkU1cjj2GkxzKoYWZV987q0sIGCL3Ps&callback=myMap"></script>

{% endblock extra_scripts %}
